@model BitirmeProjesi.Models.Akademisyenler
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminAkdEkle</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />


</head>

<body>

    <div class="vertical-nav bg-white" id="sidebar;" style="width:280px;">

        <ul class="nav flex-column bg-white mb-0">

            <li class="nav-item">
                <a href="/AdminOgrenci/AdminOgrenci" class="nav-link text-dark font-italic bg-light">
                    Öğrenciler
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminAkademisyen/AdminAkademisyen" class="nav-link text-dark font-italic bg-light">
                    Akademisylenler
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminProje/AdminProje" class="nav-link text-dark font-italic bg-light">
                    Projeler
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminBölüm/AdminBölüm" class="nav-link text-dark font-italic bg-light">
                    Bölümler
                </a>
            </li>
            
            <li class="nav-item">
                <a href="/OgrenciLogin/LogOut" style="color:black" class="nav-link text-dark font-italic">
                     Çıkış Yap
                </a>
            </li>

        </ul>
        <div class="page-content p-5 " id="content">
        </div>

    </div>


    <div class="adminiçerik">
        @using (Html.BeginForm("AdminAkdEkle", "AdminAkademisyen", FormMethod.Post))
        {
            <span class="font-italic" style="margin-left:10px; font-size:20px;">Akademisyen Adı :         &emsp;&emsp;&emsp;           </span> @Html.TextBoxFor(x => x.AkademisyenAd)<br /><br /><br /><br /><hr class="bg-info" />
            <span class="font-italic" style="margin-left:10px; font-size:20px;">Akademisyen Soyadı : &emsp;&emsp;</span>@Html.TextBoxFor(x => x.AkademisyenSoyad)<br /><br /><br /><br /><hr class="bg-info" />
            <span class="font-italic" style="margin-left:10px; font-size:20px;">Akademisyen E-posta :&emsp;&emsp;</span>@Html.TextBoxFor(x => x.AkademisyenKullanıcı)<br /><br /><br /><br /><hr class="bg-info" />
            <span class="font-italic" style="margin-left:10px; font-size:20px;">Akademisyen Şifre :&emsp;&emsp;&emsp;   </span>@Html.TextBoxFor(x => x.AkademisyenŞifre)<br /><br /><br /><br /><hr class="bg-info" />
            <span class="font-italic" style="margin-left:10px; font-size:20px;">Akademisyen Bölümü :&emsp;&emsp;</span>@Html.DropDownListFor(x => x.Bölüm_Id, ViewBag.bölümlist as SelectList, "Bölüm Seçiniz")<br /><br /><br /><br /><hr class="bg-info" />
            @Html.HiddenFor(x => x.Akademisyen_Id)
            
           <br /><input type="submit" value="Akademisyen Kaydet" class="btn btn-success font-italic" style="margin-left:170px" />

        }
    </div>






</body>

</html>